PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://auction:auction_dev@localhost:5433/auction_db
REDIS_URL=redis://localhost:6380
JWT_SECRET=change_me_to_64_random_chars_for_production
JWT_REFRESH_SECRET=change_me_to_another_64_random_chars_for_production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=http://localhost:3000
UPLOAD_PROVIDER=local
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe Integration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
